@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.hero-name{
    text-transform: lowercase;
    background: linear-gradient(to right, #8202fa, #ce03fc,#0ab0f2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: textclip 3s linear infinite;
    background-size: 200% auto;
}
@keyframes textclip {
    to {
      background-position: -200% center;
    }
}
.feature-icon-container{
  top: -30px;
  left: 60px;
  border-radius: 50%;
  background: linear-gradient(145deg, #f4fbff, #cdd4dd);
  box-shadow:  6px 6px 12px #c2c8d0,
           -6px -6px 12px #ffffff;
}
.retro-card{
  border: solid 0.25rem black;
  box-shadow: 1rem 1rem 0 -0.25rem #ceeef8, 1rem 1rem 0 0 black;
  transition: 0.1s box-shadow;
}
.retro-card:hover{
  box-shadow: 0.5rem 0.5rem 0 -0.25rem #ceeef8, 0.5rem 0.5rem 0 0 black;
}